@font-face {
    font-family: marker;
    src: url("../fonts/PermanentMarker-Regular.ttf");
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    scroll-margin: 0;
    font-family: marker;
    overflow: hidden;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cells-box {
    display: grid;
    width: 450px;
    height: 450px;
    grid-template-columns: 1fr 1fr 1fr;
}

.cell {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    background-color: rgb(212, 212, 212);
    outline: 4px solid #ddd;
    cursor: pointer;
    transition: background-color .15s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: rgb(59, 59, 59);
}

@media screen and (max-width: 600px) {

    #cells-box {
        width: 270px;
        height: 270px;
    }

    .cell {
        width: 90px;
        height: 90px;
        font-size: 70px;
    }
}

.cell:hover {
    background-color: aliceblue;
    color: black;
}

#status-text {
    width: 450px;
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
}

#restart-btn {
    width: 450px;
    text-align: center;
    font-size: 30px;
    font-family: marker;
    color: rgb(21, 174, 69);
    transition: color .1s;
    cursor: pointer;

    margin-bottom: 40px;
}

#restart-btn:hover {
    color: rgb(12, 118, 46);
}

#sign {
    color: rgb(57, 92, 124);
}